@import "../variable_overrides"; // <-- variable modifié de bootstap
@import "../node_modules/bootstrap/scss/bootstrap.scss";


* {
    list-style-type: none;
}

#ustensils::placeholder,
#ingredients::placeholder,
#appliances::placeholder {
    color: #fff;
}

#tagBoxContainer {
    height: 50px;
}

.bg-color {
    background-color: #C7BEBE;
}

.textDescription {
    height: 200px;
    overflow: auto;

}

datalist {
    width: 200px;
    background-color: red;
}

.articleCard {
    border: none;
}